.greetingsButtonTM__overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  transition: all 0.15s linear;
}

.greetingsButtonTM__wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 64px;
  height: 64px;
  transition: all 0.15s linear;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 999;
}

.greetingsButtonTM__wrapper.disable {
  animation: greetingsButtonTM__wrapper-disable 0.3s linear;
}

.greetingsButtonTM__wrapper.message {
  width: 200px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greetingsMessageTM {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greetingsMessageTM__icon {
  width: 48px;
  height: 48px;
}

.greetingsMessageTM__text {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 36px;
}

button.greetingsButtonTM,
button.greetingsButtonTM:focus {
  overflow: hidden;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.15s linear;
  width: 64px;
  height: 64px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 5px 25px rgb(0 0 0 / 15%);
}

button.greetingsButtonTM:hover {
  position: fixed;
}

button.greetingsButtonTM:active {
  position: fixed;
  transform: translate(0);
  width: 64px;
  height: 64px;
  background-color: #ffffff;
}

button.greetingsButtonTM > .greetingsButtonTM__icon {
  width: 28px;
  height: 28px;
  transition: all 0.15s linear;
}

button.greetingsButtonTM:hover > .greetingsButtonTM__icon {
  width: 32px;
  height: 32px;
}

button.greetingsButtonTM.disable > .greetingsButtonTM__icon {
  animation: greetingsButtonTM__wrapper-disable 0.3s linear;
}

.wave {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: wave-animate 0.15s linear;
  background: rgba(235, 235, 235, 0.5);
}

button.greetingsButtonTM__closeButton {
  position: absolute;
  display: flex;
  padding: 0;
  top: 0;
  right: 0;
  background-color: #EBEBEB;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

button.greetingsButtonTM__closeButton:hover {
  opacity: 0.7;
}

.greetingsButtonTM__closeButton__icon {
  margin: auto;
  width: 12px;
  height: 12px;
}

@keyframes greetingsButtonTM__wrapper-disable {
  50% {
    transform: translateY(-8px);
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes wave-animate {
  to {
    transform: scale(4);
    opacity: 0;
  }
}